@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Poppins, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /* White text on selection for navbar */
  nav a::selection {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
